/* General dashboard styling */
.dashboard-title {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  margin: 0px;
  padding-bottom: 0.5%;
  color: #4b9cd3;
}

.dashboard-asterisk {
  margin-top: 5px;
  text-align: right;
  font-weight: bold;
}

.box {
  background-color: rgb(21, 23, 41);
  border: 5px solid rgb(90, 218, 178);
  border-radius: 20px;
}

.metric-box {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.metric-label {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 5px;
  cursor: help;
  text-align: center;
}

.metric-value {
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-label {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

.dropdown-menu {
  background-color: #000000;
  color: #ffffff;
  border: 5px solid rgb(90, 218, 178);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  width: 6rem;
  height: 2.5rem;
}

/* Outermost container - for all dashboards */
#outer-flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 54rem;
}

/* Lifetime stat container */
#lifetime-container {
  margin-top: 50px;
}

#lifetime-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  align-items: start;
}

#doughnut-chart {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  padding: 10px;
}

.label-menu-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px;
  align-items: baseline;
}

.metrics-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  gap: 15px;
}

/* Game by Game Box */
#game-by-game-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.game-by-game-menus-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.game-by-game-menus-container > div {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

#game-evolution-chart {
  width: 100%;
  height: auto;
  max-width: none;
}

/* Final dashboard(s) */
#goals-milestones-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0 40px;
}

#goals-box,
#milestones-box {
  height: 31.25rem;
  width: 100%;
}

#goals-box ul,
#milestones-box ul {
  font-size: 1.2rem;
  line-height: 1.25;
}

#goals-box ul li,
#milestones-box ul li {
  width: 90%;
  margin-bottom: 15px; /* Space between bullets */
}

/* RESPONSIVE SCHEMES */
@media (max-width: 1024px) {
  #outer-flex-container {
    width: 700px;
  }

  #lifetime-box {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 2fr;
    align-items: start;
  }

  #goals-box,
  #milestones-box {
    height: 35rem;
    width: 97%;
  }
}

@media (max-width: 730px) {
  .dashboard-title {
    font-size: 1.5rem;
  }

  #lifetime-container {
    transform: scale(0.95);
  }

  #game-by-game-container {
    transform: scale(0.95);
  }

  #goals-milestones-container {
    transform: scale(0.95);
  }

  #goals-box,
  #milestones-box {
    height: 35rem;
    width: 97%;
  }
}

@media (max-width: 480px) {
  .dashboard-title {
    text-align: center;
    margin-bottom: 5px;
  }

  .dashboard-asterisk {
    text-align: center;
  }

  .metric-label {
  }

  .metric-value {
  }

  .metric-box {
    width: 70px;
    height: 70px;
  }

  .dropdown-label {
  }

  .dropdown-menu {
    width: 4.5rem;
    height: 2.5rem;
  }

  /* Outermost container - for all dashboards */
  #outer-flex-container {
    width: 350px;
  }

  /* Lifetime stat container */
  #lifetime-container {
    margin-top: 30px;
  }

  #lifetime-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .label-menu-container {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #doughnut-chart {
    order: 2;
  }

  .metrics-container {
    order: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  /* Game by Game Box */
  #game-by-game-box {
    display: flex;
    flex-direction: column;
  }

  .game-by-game-menus-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .game-by-game-menus-container > div {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
  }

  /* Final dashboard(s) */
  #goals-milestones-container h2 {
    font-size: 1.2rem;
  }

  #goals-box,
  #milestones-box {
    height: 40rem;
    width: 100%;
  }

  #goals-box ul,
  #milestones-box ul {
    font-size: 0.8rem;
    line-height: 1.25;
  }

  #goals-box ul li,
  #milestones-box ul li {
    width: 90%;
    margin-bottom: 15px;
  }
}
