.table-container {
  max-width: 90%;
  margin: 1.25rem auto;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2.5rem;
  background-color: rgb(21, 23, 41);
  text-align: left;
  table-layout: auto;
}

.styled-table th,
.styled-table td {
  padding: 0.5rem;
  border: 0.156rem solid rgb(90, 218, 178);
  vertical-align: middle;
}

.styled-table th {
  background-color: rgb(30, 33, 54);
  font-weight: bold;
}

.styled-table tr:nth-child(even) {
  background-color: rgb(35, 38, 57);
}

.styled-table tr:hover {
  background-color: rgb(40, 50, 80);
}

.styled-table th:not(:last-child),
.styled-table td:not(:last-child) {
  min-width: 3rem;
}

.styled-table th:last-child,
.styled-table td:last-child {
  width: auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  color: #4b9cd3;
}

/* RESPONSIVE SCHEMES */
@media (max-width: 780px) {
  h2 {
    font-size: 1.2rem;
  }

  .hide-on-small {
    display: none;
  }

  .styled-table {
    font-size: 0.8rem;
    width: 100%;
    table-layout: auto;
  }

  .styled-table th,
  .styled-table td {
    padding: 0.25rem;
    text-align: center;
    word-break: break-word;
    white-space: normal;
  }

  .styled-table th {
    font-size: 0.8rem;
  }
}
