<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mind Over Matter FC</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <h1>Mind Over Matter FC</h1>
      <nav>
        <a href="/">Home</a> | <a href="/about">About</a> |
        <a href="/raw-data">Raw Data</a> |
        <button
          id="contact-button"
          aria-label="Copy email address to clipboard"
        >
          Contact
        </button>
      </nav>
    </header>

    <main>
      <div class="about-section">
        <section class="about-subsection" id="about-me">
          <h2>A Bit About Me</h2>
          <p>
            Hello, world! My name is Stephen (or Steve), and I’m a Canadian
            based in Ottawa, the country’s capital. Professionally, I’m a
            geophysicist, but I’ve worn a few different hats over the years.
            I’ve worked as a machine learning data scientist in the sports and
            gaming industry, and as an acoustical consultant as well.
          </p>
          <p>
            Academically, I hold a
            <a
              href="https://ruor.uottawa.ca/items/11455849-4d37-4fc9-a5fb-76cbf5ee9b92"
              target="_blank"
              >PhD in geophysics</a
            >, earned in 2021. While my subfield of study was seismology, my
            doctoral work centered on tackling complex geophysical problems
            using machine learning techniques.
          </p>
          <p>
            But I’m not just a geophysicist. I love learning—about everything.
            Whether it’s music, surfing, programming, or astronomy, I’m always
            exploring new interests. Fun fact: I meticulously track personal
            stats and milestones across many of my hobbies, often with nothing
            more than pen and paper.
          </p>
        </section>

        <section class="about-subsection" id="life-and-soccer">
          <h2>A Bit About My Life and Soccer</h2>
          <p>
            Soccer wasn’t always a passion of mine. Growing up in Canada during
            the 90s and early 2000s, it was hockey that dominated the sports
            scene. Soccer didn’t really cross my radar until the 2018 World Cup.
          </p>
          <p>
            It all started with a French-international colleague from my
            doctoral program. We were doing fieldwork in the Yukon—remote
            locations, spotty reception, and long hours on the road. My
            colleague lamented that he was missing several of the team France
            matches. Curious, and with nothing but time on our hands, I just
            said, “Explain it all to me.” By the end of that trip, the soccer
            bug had bitten, and it hasn’t let go since.
          </p>
          <p>
            Soon after, I wasn’t just watching games—I was playing. I formed a
            team with my colleague and other international grad students. I
            think our team actually spoke five or six different languages. It
            was an incredible experience.
          </p>
          <p>
            Soccer has since brought me countless opportunities and connections.
            I’m now a co-owner of
            <a href="https://www.tssfc.ca/rovers" target="_blank">TSS Rovers</a
            >, a semi-professional Canadian team, and even worked as a data
            analyst during their
            <a
              href="https://canpl.ca/article/the-party-is-still-going-inside-tss-rovers-rise-from-youth-academy-to-canadian-championship-quarter-finalists"
              target="_blank"
              >historic 2023 Canadian Championship campaign</a
            >, where they beat Canadian Premier League team Valour FC to advance
            in the tournament.
          </p>
          <p>
            In short, I fell in love with soccer in 2018, and it’s been an
            incredible journey ever since.
          </p>
        </section>

        <section class="about-subsection" id="data-habits">
          <h2>A Bit About My Data and Stat-Tracking Habits</h2>
          <p>
            Coming from a scientific background, I’ve always been drawn to
            tracking my own personal data. When I started playing soccer at 29,
            I began recording every game I played—at first just games and goals.
            Over time, my stat tracking has evolved to include assists,
            milestones (like my first header goal, first penalty), and even how
            I score (e.g., body part used).
          </p>
          <p>
            In 2024, I started tracking my stats at a more granular level, game
            by game, not just aggregated totals. My personal stat tracking helps
            me stay motivated, reflect on progress, and set new goals.
          </p>
        </section>

        <section class="about-subsection" id="what-is">
          <h2>So, What Exactly Is Mind Over Matter FC?</h2>
          <p>
            Mind Over Matter FC is my personal platform for sharing my soccer
            journey. It’s a space where I can record my progress, reflect on my
            growth, and bring my data to life.
          </p>
        </section>

        <section class="about-subsection" id="why-name">
          <h2>Why the Name "Mind Over Matter FC"?</h2>
          <p>
            I didn’t start playing soccer until I was 29. Now, at 35 (2024), I’m
            out there competing. I believe that anyone can learn and improve at
            any age. It’s all about adopting a growth mindset.
          </p>
          <p>
            Take this past summer, for example: With just over 100 "career"
            games played, I contributed 16.2% of my team’s goal total that
            season. Despite being an “older” player, I often outpace guys in
            their early 20s. Sure, I’m no superstar, and plenty of teenagers are
            more skilled than I am, but that’s beside the point. Progress is
            about challenging yourself, not comparing yourself to others.
          </p>
        </section>

        <section class="about-subsection" id="why-do">
          <h2>Why Undertake a Project Like This?</h2>
          <p>Why not? This project brings together so many of my interests.</p>
          <p>
            Building this website has helped me sharpen my software development
            skills, from front-end (HTML, CSS, JS) to back-end development with
            Python and FastAPI. It’s also a way to stay motivated by visualizing
            my personal progress.
          </p>
          <p>
            If this platform resonates with or inspires others, that’s just the
            cherry on top.
          </p>
        </section>

        <section class="about-subsection" id="why-bother">
          <h2>What Do You Hope to Accomplish?</h2>
          <p>
            Ultimately, I’m here to have fun. This is a personal project that I
            hope will continue to grow and evolve. If it motivates or inspires
            others along the way, all the better.
          </p>
        </section>
      </div>
    </main>

    <footer>
      <p>© 2024 Stephen Mosher</p>
      <div class="social-icons">
        <a
          href="https://www.youtube.com/@MindOverMatterFC"
          target="_blank"
          aria-label="YouTube"
        >
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/stephen-mosher-514a951b3/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://www.github.com/s-g-mo"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
      </div>
    </footer>
    <script>
      document
        .getElementById("contact-button")
        .addEventListener("click", function () {
          const email = "steve@mindovermatterfc.com";
          navigator.clipboard
            .writeText(email)
            .then(() => {
              alert("Email address copied to clipboard: " + email);
            })
            .catch((err) => {
              alert("Failed to copy email address: " + err);
            });
        });
    </script>
  </body>
</html>
