<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mind Over Matter FC</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link rel="icon" href="/static//favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="/static/logo_120pxh.png" alt="Mind Over Matter FC Logo" />
        </div>
        <div class="header-text">
          <h1>Mind Over Matter FC</h1>
          <nav>
            <a href="/">Home</a> | <a href="/about">About</a> |
            <a href="/raw-data">Raw Data</a> |
            <button id="contact-button">Contact</button>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div id="outer-flex-container">
        <section class="dashboard-container" id="lifetime-container">
          <h2 class="dashboard-title" id="lifetime-title">
            Lifetime Stats (Since 2018)
          </h2>
          <div class="box" id="lifetime-box">
            <div id="doughnut-chart"></div>
            <div class="label-menu-container">
              <label for="first-dropdown-menu" class="dropdown-label"
                >Game Type</label
              >
              <select id="first-dropdown-menu" class="dropdown-menu">
                <option value="All" selected>All</option>
                <option value="11v11">11v11</option>
                <option value="7v7">7v7</option>
                <option value="5v5">5v5</option>
              </select>
            </div>

            <div class="metrics-container">
              <div class="metric">
                <p class="metric-label" title="Games Played">GP</p>
                <div class="metric-box box">
                  <p class="metric-value" id="games-played">--</p>
                </div>
              </div>
              <div class="metric">
                <p class="metric-label" title="Goals">G</p>
                <div class="metric-box box">
                  <p class="metric-value" id="goals-scored">--</p>
                </div>
              </div>
              <div class="metric">
                <p class="metric-label" title="Goals per Game">GpG</p>
                <div class="metric-box box">
                  <p class="metric-value" id="goals-per-game">--</p>
                </div>
              </div>
              <div class="metric">
                <p class="metric-label" title="Assists">A*</p>
                <div class="metric-box box">
                  <p class="metric-value" id="assists">--</p>
                </div>
              </div>
              <div class="metric">
                <p class="metric-label" title="Assists per Game">ApG*</p>
                <div class="metric-box box">
                  <p class="metric-value" id="assists-per-game">--</p>
                </div>
              </div>
            </div>
          </div>
          <p class="dashboard-asterisk">*Since May 2023</p>
        </section>

        <section class="dashboard-container" id="game-by-game-container">
          <h2 class="dashboard-title" id="game-by-game-title">
            Game-by-Game Stats Evolution (Since 2024)
          </h2>
          <div class="box" id="game-by-game-box">
            <div class="game-by-game-menus-container">
              <div>
                <label
                  for="stat-select-menu"
                  class="dropdown-label"
                  id="stat-dropdown-label"
                  >Stat</label
                >
                <select id="stat-select-menu" class="dropdown-menu">
                  <option value="Goals_Per_Game" selected>GpG</option>
                  <option value="Win_Percentage">Win %</option>
                </select>
              </div>

              <div>
                <label for="second-dropdown-menu" class="dropdown-label"
                  >Game Type</label
                >
                <select id="second-dropdown-menu" class="dropdown-menu">
                  <option value="All" selected>All</option>
                  <option value="11v11">11v11</option>
                  <option value="7v7">7v7</option>
                  <option value="5v5">5v5</option>
                </select>
              </div>
            </div>

            <div id="game-evolution-chart"></div>
          </div>
        </section>

        <section class="dashboard-container" id="goals-milestones-container">
          <div class="milestone-group">
            <h2 class="dashboard-title" id="goals-title">Personal Goals</h2>
            <div class="box" id="goals-box">
              <ul>
                <li>Double digit goal total for 2025 Summer 11v11 campaign</li>
                <li>
                  Contribute 20% of team's total goals in 2025, 11v11 campaign
                </li>
                <li>Contribute 5+ assists for 2025 Summer 11v11 campaign</li>
                <li><s>Score a brace in an 11v11 match</s></li>
                <li>Score a hat-trick in an 11v11 match</li>
                <li>Cross 200 matches played across all game types</li>
              </ul>
            </div>
          </div>

          <div class="milestone-group">
            <h2 class="dashboard-title" id="milestones-title">Milestones</h2>
            <div class="box" id="milestones-box">
              <ul>
                <li>Scored in first 11v11 game ever played (2022)</li>
                <li>Scored first penalty ever taken (2022)</li>
                <li>Scored a futsal header (2023)</li>
                <li>3 assists from corner kicks (2023)</li>
                <li>First time skying a penalty (2023)</li>
                <li>Scored first 11v11 header (2024)</li>
                <li>
                  Contributed 16.21% of team's total goals in 11v11 campaign
                  (2024)
                </li>
                <li>Crossed 100 games played (2024)</li>
                <li>Scored a brace in an 11v11 match (May 31, 2025)</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <p>© 2024 Stephen Mosher</p>
      <div class="social-icons">
        <a
          href="https://www.youtube.com/@MindOverMatterFC"
          target="_blank"
          aria-label="YouTube"
        >
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/stephen-mosher-514a951b3/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://www.github.com/s-g-mo"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </footer>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
