{% extends "base.html" %}

{% block title %}Raw Data | Mind Over Matter FC{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/tables.css" />
{% endblock %}

{% block content %}
<section>
  <h2>Seasonal Aggregates</h2>
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          {% for col in seasonal_data[0].keys() %}
          <th class="{% if col in ['Season', 'Notes'] %}hide-on-small{% endif %}">
            {{ col }}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in seasonal_data %}
        <tr>
          {% for col, cell in row.items() %}
          <td class="{% if col in ['Season', 'Notes'] %}hide-on-small{% endif %}">
            {% if col == 'Assists' %}
              {% if cell is not none %}
                {% set rounded = (cell | float) | round(0) %}
                {% if rounded == rounded|int %}
                  {{ rounded | int }}
                {% else %}
                  {{ rounded }}
                {% endif %}
              {% else %}
                {{ cell }}
              {% endif %}
            {% else %}
              {{ cell }}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<section>
  <h2>Game Stats</h2>
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          {% for col in game_stats_data[0].keys() %}
          <th
            class="{% if col in ['Season', 'Goal Body Part', 'Notes'] %}hide-on-small{% endif %}"
          >
            {{ col }}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in game_stats_data %}
        <tr>
          {% for col, cell in row.items() %}
          <td
            class="{% if col in ['Season', 'Goal Body Part', 'Notes'] %}hide-on-small{% endif %}"
          >
            {% if col == 'Video' %}
              {% if cell %}
                <a href="{{ cell }}" target="_blank" aria-label="Watch on YouTube" class="yt-link">
                  <i class="fab fa-youtube"></i>
                </a>
              {% endif %}
            {% else %}
              {{ cell }}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
